body{
    background-color: rgb(234, 232, 232);
    max-width: 90%;
    margin: 0% 5%;
}

header{
    background-color: rgb(19, 27, 29);
    padding: 25px;
}

h1{
    color: white;
    font-family: Verdana;
    text-align: center;
    letter-spacing: 10px;
}

h3{
    font-family: Verdana;
}

h4{
    background-color: rgb(161, 159, 159);
    color:rgb(33, 32, 32);
    text-align: left;
    padding: 5px 15px;
    font-style: italic;
    margin-bottom: 0px;
    margin-top: 5px;
    font-family: Tahoma;
}

aside{
    max-width: 23%;
    float: right;
    font-size: 14px;
    margin-right: 20px;
}

p{
    background-color: rgb(44, 43, 43);
    color:rgb(255, 255, 255);
    padding: 20px;
    margin: 0px 0px 15px 0px;
    font-size: 12px;
    text-align: justify;
}

section{
    max-width: 70%;
    padding: 2px;
    display: inline-block;
}

article{
    color: rgb(255, 255, 255);
    background-color: rgb(67, 66, 66);
    padding: 15px;
    text-align: justify;
}

div{
    background-color: rgb(195, 193, 196);
    padding: 20px;
    text-align: center;
}

footer{
    background-color: rgb(19,27,29);
    text-align: center;
    padding: 20px 0px;
}

address{
    color: rgb(204, 207, 208);
}
  
            